<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><?= $title_pdf;?></title>
        <style>
            #table {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:hover {background-color: #ddd;}

            #table th {
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <table id="">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <div style="text-align:center">
                            <h3> KEPOLISIAN NEGARA REPUBLIK INDONESIA </h3>
                            <h3> DAERAH JAWA BARAT </h3>
                            <h3> RESOR SUMEDANG </h3>
                        </div>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <div>
                            <h5> HARI </h5>
                            <h5> TANGGAL </h5>
                            <h5> JAM </h5>
                        </div>
                    </td>
                    <td>
                        <div>
                            <h5> : </h5>
                            <h5> : </h5>
                            <h5> : </h5>
                        </div>
                    </td>
                    <td>
                        <div>
                            <h5> A </h5>
                            <h5> B </h5>
                            <h5> C </h5>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    
                </tr>
            </tbody>
        </table>
        
        <table id="table">
            <thead>
                <tr>
                    <th style="text-align:center">NO</th>
                    <th style="text-align:center">NAMA</th>
                    <th style="text-align:center">PANGKAT</th>
                    <th style="text-align:center">JABATAN</th>
                    <th style="text-align:center">KET</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Kacang Goreng</td>
                    <td>Rp5.000,-</td>
                    <td>1</td>
                    <td>25 Oktober 2020, 17:01:03</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>Kopi Hitam</td>
                    <td>Rp5.000,-</td>
                    <td>1</td>
                    <td>25 Oktober 2020, 16:01:03</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Gorengan Bakwan</td>
                    <td>Rp3.000,-</td>
                    <td>3</td>
                    <td>25 Oktober 2020, 15:01:02</td>
                </tr>
                <tr>
                    <td scope="row">4</td>
                    <td>Nasi uduk</td>
                    <td>Rp14.000,-</td>
                    <td>2</td>
                    <td>25 Oktober 2020, 14:04:03</td>
                </tr>
            </tbody>
        </table>

        <br/>
        <div style="text-align:center">
            <h3> PENERIMAAN </h3>
        </div>
        <table id="table">
            <tbody>
                <tr>
                    <td scope="row">1</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                </tr>
                <tr>
                    <td scope="row">4</td>
                </tr>
            </tbody>
        </table>

        <br/>
        <table id="table">
            <thead>
                <tr>
                    <th style="text-align:center">NO</th>
                    <th style="text-align:center">WAKTU</th>
                    <th style="text-align:center">URAIAN</th>
                    <th style="text-align:center">KET</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kacang Goreng</td>
                    <td>Rp5.000,-</td>
                    <td>25 Oktober 2020, 17:01:03</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>Kopi Hitam</td>
                    <td>Rp5.000,-</td>
                    <td>25 Oktober 2020, 16:01:03</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Gorengan Bakwan</td>
                    <td>Rp3.000,-</td>
                    <td>25 Oktober 2020, 15:01:02</td>
                </tr>
                <tr>
                    <td scope="row">4</td>
                    <td>Nasi uduk</td>
                    <td>Rp14.000,-</td>
                    <td>25 Oktober 2020, 14:04:03</td>
                </tr>
            </tbody>
        </table>

        <br/>
        <table id="">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <div style="text-align:center;">
                            <p>SERAH TERIMA</p>
                            <p>TUGAS JAGA SELAMA 1X24 JAM TELAH SELESAI DILAKSANAKAN</p>
                            <p>SELANJUTNYA TUGAS DAN TANGGUNG JAWAB SAYA SERAHKAN KEPADA</p>
                            <p>PETUGAS JAGA BARU DALAM KEADAAN AMAN DAN TERTIB</p>

                        </div>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div style="text-align:center;">
                            <h5>KEPALA JAGA / PADAL BARU</h5>
                            <h5>TUGAS JAGA SELAMA 1X24 JAM TELAH SELESAI DILAKSANAKAN</h5>
                            <h5>SELANJUTNYA TUGAS DAN TANGGUNG JAWAB SAYA SERAHKAN KEPADA</h5>
                            <h5>PETUGAS JAGA BARU DALAM KEADAAN AMAN DAN TERTIB</h5>

                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div style="text-align:center;">
                            <h5>Sumedang</h5>
                            <h5>TUGAS JAGA SELAMA 1X24 JAM TELAH SELESAI DILAKSANAKAN</h5>
                            <h5>SELANJUTNYA TUGAS DAN TANGGUNG JAWAB SAYA SERAHKAN KEPADA</h5>
                            <h5>PETUGAS JAGA BARU DALAM KEADAAN AMAN DAN TERTIB</h5>

                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </body>
</html>