DirectoryIndex index.php
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^ index.php [L]
#RewriteRule !^(public/|index\.php) [NC,F]


# Instruct the browser to always check for the latest version of your files using Apache directives
<IfModule mod_headers.c>
	<FilesMatch "(?i)^.*\.(css|htm|html|gif|jpg|jpeg|js|png|pdf)$">
		Header set Cache-Control "max-age=0,must-revalidate"
	</FilesMatch>
</IfModule>