{% extends "admin/layout.html" %} {% block content %}
<style>
    .modal-dialog,
    .modal-content {
        /* 80% of window height */
        height: 100%;
    }

    .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        max-height: calc(100% - 120px);
        overflow-y: scroll;
    }
</style>
<div class="page-wrapper">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-header-title">
            <h4>MUTASI OPS KETUPAT&#32;{{ tahun }} </h4>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="/">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="email-inbox.html#!">Mutasi</a>
                </li>
                <li class="breadcrumb-item"><a href="email-inbox.html#!">List Data</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Page-header end -->
    <!-- Page-body start -->
    <div class="page-body">
        <div class="card">
          <input hidden id="userid" value="{{userid}}">
          <input hidden id="role" value="{{role}}">
            <!-- Email-card start -->
            <div class="card-block email-card">
                <div class="row">
                    <!-- Left-side section start -->
                    <div class="col-lg-12 col-xl-3">
                        <div class="user-head row">
                            <div class="user-face">
                                <img src="{{baseURL}}/assets/admin/images/user.png" class="img-60" alt="User-Profile-Image">
                            </div>
                            <div class="user-name">
                                <span>{{username}}</span>
                                <span id="head-sat">List Data</span>
                            </div>
                        </div>
                        <div class="user-body">
                            <div class="card-block" id="tambah-user">
                                <button onclick="onusers('input')" class="btn btn-danger btn-block"><i class="icofont icofont-user"></i> Tambah Anggota</button>

                                <button onclick="onusers('input-1')" class="btn btn-danger btn-block"><i class="icofont icofont-list"></i> Tambah Penerimaan</button>
        
                                <button onclick="onusers('input-2')" class="btn btn-danger btn-block"><i class="icofont icofont-listine-dots"></i> Tambah Uraian</button>
                            </div>
                            <div class="card-block" id="save-user">
                                <button onclick="" class="btn btn-success btn-block"><i class="fa fa-send"></i> Simpan Anggota</button>
                            </div>
                            <div class="card-block" id="save-user-1">
                                <button onclick="" class="btn btn-success btn-block"><i class="fa fa-send"></i> Simpan Penerimaan</button>
                            </div>
                            <div class="card-block" id="save-user-2">
                                <button onclick="" class="btn btn-success btn-block"><i class="fa fa-send"></i> Simpan Uraian</button>
                            </div>
                            <ul class="page-list">
                                <li id="list-user" class="active" onclick="onusers('list')">
                                    <div class="mail-section">
                                        <a href="#!">
                                            <i class="ti-bookmark-alt"></i> Data Mutasi Digital
                                        </a>
                                        <!-- <label class="label label-primary f-right">6</label> -->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Left-side section end -->
                    <!-- Right-side section start -->
                    <div class="col-lg-12 col-xl-9">
                        <div class="mail-box-head row">
                            <div class="col-sm-3">
                                <h3></h3>
                            </div>
                            <div class="col-md-9">
                                <form class="f-right" hidden>
                                    <div class="right-icon-control">
                                        <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends-2">
                                        <div class="form-icon">
                                            <i class="icofont icofont-search"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="mail-body">
                            <div class="mail-body-header">
                                <div hidden class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                                    <button type="button" class="btn btn-warning btn-xs waves-effect waves-light">
                                        <i class="icofont icofont-exclamation-circle"></i>
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs waves-effect waves-light">
                                        <i class="icofont icofont-ui-delete"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mail-body-content user-list">
                              <div class="">
                                <div class="form-group row">
                                    {% if role  == 100 %}
                                    <div class="col-sm-5">
                                        <select id="fitler-pos" name="select" class="form-control">
                                            <option value="0">Pilih POS</option>
                                            <option value="92">Pos Terpadu Alun - Alun Kab. Sumedang</option>
                                            <option value="93">Pos Pelayanan Bendungan Jatigede</option>
                                            <option value="94">Pos Pelayanan Kampung Buricak Burinong Darmaraja</option>
                                            <option value="95">Pos Pam Bunderan Alamsari Sumedang Utara</option>
                                            <option value="96">Pos Pam Sabusu Jatinangor</option>
                                            <option value="97">Pos Pam Exit Tol Pamulihan</option>
                                            <option value="98">Pos Pam Alun Alun Tanjungsari</option>
                                            <option value="99">Pos Pam Dwipapuri Cimanggung</option>
                                            <option value="100">Pos Pam Pertigaan Cikareo Wado</option>
                                            <option value="101">Pos Pam Alun ALun Cimalaka</option>
                                            <option value="102">Pos Pam Pertigaan Tolengas Tomo</option>
                                        </select>
                                    </div>
                                    {% endif %}
                                    <label class="col-sm-1 col-form-label">Tanggal</label>
                                    
                                    <div class="col-sm-4">
                                        <div class="input-group input-group-button">
                                            <input type="date" id="filter-tanggal" class="form-control" placeholder="Right Button">
                                            <span class="input-group-addon" id="basic-addon10">
                                                <button id="cari-mutasi" class="btn btn-primary btn-mini"><i class="icofont icofont-search"></i> cari</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button onclick="" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-print"></i> Print </button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5> Data Anggota</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="table-responsive">
                                            <table id="data-mutasi" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Nama</th>
                                                        <th>Pangkat</th>
                                                        <th>Jabatan</th>
                                                        <th>Keterangan</th>
                                                        <th>Lokasi</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <br/>
                                <div class="card">
                                    <div class="card-header">
                                        <h5> Data Penerimaan</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="table-responsive">
                                        <table id="data-mutasi-1" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Penerimaan</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        </div>
                                    </div>

                                </div>
                                <br/>
                                <div class="card">
                                    <div class="card-header">
                                        <h5> Data Uraian</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="table-responsive">
                                        <table id="data-mutasi-2" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Waktu</th>
                                                    <th>Uraian</th>
                                                    <th>Keterangan</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        </div>
                                    </div>

                                </div>
                                    
                              </div>
                            </div>
                            <div class="mail-body-content user-tambah">
                                <form>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Tanggal</label>
                                        <div class="col-sm-6">
                                            <input name="user" id="tanggal-input" type="date" class="form-control" placeholder="...">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Nama</label>
                                        <div class="col-sm-6">
                                            <input name="user" id="nama" type="text" class="form-control" placeholder="...">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Pangkat</label>
                                        <div class="col-sm-6">
                                            <select id="pangkat" name="user" class="form-control">
                                                <option value="0">Pilih</option>
                                                <option value="10" >KOMPOL</option>
                                                <option value="9" >AKP</option>
                                                <option value="8" >IPTU</option>
                                                <option value="7" >IPDA</option>
                                                <option value="6" >AIPTU</option>
                                                <option value="5" >AIPDA</option>
                                                <option value="4" >BRIPKA</option>
                                                <option value="3" >BRIGADIR</option>
                                                <option value="2" >BRIPTU</option>
                                                <option value="1" >BRIPDA</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Jabatan</label>
                                        <div class="col-sm-6">
                                            <input name="user" id="jabatan" type="text" class="form-control" placeholder="...">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Keterangan</label>
                                        <div class="col-sm-6">
                                            <textarea name="user" id="keterangan" class="form-control" placeholder="..." rows="3"></textarea>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Penerimaan</label>
                                        <div class="col-sm-6">
                                            <textarea name="user" id="penerimaan" class="form-control" placeholder="..." rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Uraian</label>
                                        <div class="col-sm-6">
                                            <textarea name="user" id="uraian" class="form-control" placeholder="..." rows="3"></textarea>
                                        </div>
                                    </div> -->

                                </form>
                            </div>

                            <div class="mail-body-content user-tambah-1">
                                <form>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Tanggal</label>
                                        <div class="col-sm-6">
                                            <input name="user" id="tanggal-input-1" type="date" class="form-control" placeholder="...">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Penerimaan</label>
                                        <div class="col-sm-6">
                                            <textarea name="user-1" id="penerimaan" class="form-control" placeholder="..." rows="3"></textarea>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="mail-body-content user-tambah-2">
                                <form>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Tanggal</label>
                                        <div class="col-sm-6">
                                            <input name="user" id="tanggal-input-2" type="date" class="form-control" placeholder="...">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Waktu</label>
                                        <div class="col-sm-6">
                                            <input name="user-2" id="waktu" type="text" class="form-control" placeholder="...">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Uraian</label>
                                        <div class="col-sm-6">
                                            <textarea name="user-2" id="uraian" class="form-control" placeholder="..." rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Keterangan</label>
                                        <div class="col-sm-6">
                                            <textarea name="user-2" id="keterangan-1" class="form-control" placeholder="..." rows="3"></textarea>
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- Right-side section end -->
                </div>
            </div>
            <!-- Email-card end -->
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div id="example1" style="height: 100%;"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
    </div>
    <!-- Page-body start -->
</div>


<!-- <script src="{{baseURL}}/assets/action-js/admin/datapengaduan.js"></script> -->
{% endblock %}
